<div class="solution">

<!--------------------------------------------------------------------------------------->
<div fxLayout="row wrap">
  <mat-card>
    <mat-card-content>
      <h2>Left Card 1</h2>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <h2>Left Card 1</h2>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <h2>Left Card 1</h2>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <h2>Left Card 2</h2>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <h2>Right Column </h2>
    </mat-card-content>
  </mat-card>
</div>
<!--------------------------------------------------------------------------------------->

</div>
