<div>
  <ng-container>
    <mat-toolbar class="mat-toolbar-top">
      <mat-toolbar-row>
        <span *ngIf="false">Menu</span>
        <div class="example-nav-element">
          <button mat-button (click)="sidenav.toggle()">Menu</button>
        </div>
        <div class="example-nav-element">
          <button mat-button routerLink="home">Home</button>
        </div>
        <div class="example-nav-element" *ngIf="simpleUserInfo.roles.includes('ROLE_JOKE')">
          <button mat-button routerLink="/cars/cars-board" color="primary">Cars Board</button>
        </div>
        <div class="example-nav-element" *ngIf="simpleUserInfo.roles.includes('ROLE_ADMIN')">
          <button mat-button (click)="sidenav.toggle()" color="warn">Claims</button>
        </div>
        <span class="example-spacer"></span>
        <div class="example-nav-element" *ngIf="router.url == '/cars/cars-board' && simpleUserInfo.roles.includes('ROLE_JOKE')">
          <button mat-stroked-button [color]="'exColor'" routerLink="/cars/cars-board/add-car">Add car</button>
        </div>
        <div class="example-nav-element" *ngIf="router.url == '/cars/cars-board'">
          <button mat-stroked-button [color]="'exColor'" routerLink="">Admin's menu 1</button>
        </div>
        <div class="example-nav-element" *ngIf="router.url == '/cars/cars-board'">
          <button mat-stroked-button [color]="'exColor'" routerLink="">Admin's menu 2</button>
        </div>
        <span class="example-spacer"></span>
        <div class="example-nav-element">
          <i class="material-icons" style="font-size: 28px; display: block;">person</i>
        </div>
        <div class="example-nav-element" *ngIf="!simpleUserInfo.userName">
          <button mat-button  (click)="onAction('login')">Sign In</button>
          |
          <button mat-button  (click)="onAction('register')">Register</button>
        </div>
        <div class="example-nav-element" *ngIf="simpleUserInfo.userName">
          <button mat-button [matMenuTriggerFor]="menu">{{simpleUserInfo.userName}}</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="users/user">User Info</button>
            <button mat-menu-item (click)="logout()">log out</button>
          </mat-menu>
        </div>
      </mat-toolbar-row>

    </mat-toolbar>
    <mat-sidenav-container>
      <mat-sidenav #sidenav mode="over" class="example-sidenav" [fixedInViewport]=true [fixedTopGap]="45" [fixedBottomGap]="45"> Sidenav
      </mat-sidenav>
      <mat-sidenav-content>
        <div >
          <router-outlet></router-outlet>
          <div style="margin-bottom: 40px" fxLayout="row" fxLayoutAlign="center center"></div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>

    <mat-toolbar class="example-footer"></mat-toolbar>
  </ng-container>
</div>


