<div>
  <div>
    <div>
      <form>
        <mat-card>
          <div class="container" fxLayout="row wrap" fxLayoutAlign="center">

            <div style="padding: 3px;">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Model" value="">
              </mat-form-field>
            </div>

            <div style="padding: 3px;">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Vin" value="">
              </mat-form-field>
            </div>

            <div style="padding: 3px;">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Favorite food" value="">
              </mat-form-field>
            </div>

            <div style="padding: 3px;">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Favorite food" value="Sushi">
              </mat-form-field>
            </div>

          </div>
        </mat-card>
      </form>
    </div>
  </div>
</div>
