<div>
  <div>
    <div>
      <form [formGroup]='addCarForm' (ngSubmit)="onSubmit()">
        <mat-card>
          <div class="container" fxLayout="row wrap" fxLayoutAlign="center">

            <div style="padding: 3px;">
                <mat-form-field class="input-width">
                  <mat-label>Model</mat-label>
                  <input type="text" matInput placeholder="Model" formControlName='model'>
                  <mat-error *ngFor="let validation of addCarForm_validation_messages.model">
                    <mat-error class="error-message" *ngIf="addCarForm.get('model').hasError(validation.type)">{{validation.message}}
                    </mat-error>
                  </mat-error>
                </mat-form-field>
            </div>

            <div style="padding: 3px;">
              <mat-form-field class="input-width">
                <mat-label>VIN</mat-label>
                <input type="text" matInput placeholder="Vin" formControlName='vin'>
                <mat-error *ngFor="let validation of addCarForm_validation_messages.vin">
                  <mat-error class="error-message" *ngIf="addCarForm.get('vin').hasError(validation.type)">{{validation.message}}
                  </mat-error>
                </mat-error>
              </mat-form-field>
            </div>

            <div style="padding: 3px;">
              <mat-form-field class="input-width">
                <mat-label>Year</mat-label>
                <input type="text" matInput placeholder="Year" formControlName='year'>
                <mat-error *ngFor="let validation of addCarForm_validation_messages.year">
                  <mat-error class="error-message" *ngIf="addCarForm.get('year').hasError(validation.type)">{{validation.message}}
                  </mat-error>
                </mat-error>
              </mat-form-field>
            </div>

            <div style="padding: 3px;">
              <mat-form-field class="input-width">
                <mat-label>Mileage</mat-label>
                <input type="text" matInput placeholder="Mileage" formControlName='mileAge'>
                <mat-error *ngFor="let validation of addCarForm_validation_messages.mileage">
                  <mat-error class="error-message" *ngIf="addCarForm.get('mileAge').hasError(validation.type)">{{validation.message}}
                  </mat-error>
                </mat-error>
              </mat-form-field>
            </div>

          </div>
        </mat-card>
      </form>
    </div>
  </div>
</div>
