
<div>
  <div>
    <div class="login-window">
      <mat-card>
        <mat-grid-list cols="1" rowHeight="64px">
          <form [formGroup]='loginForm' (ngSubmit)="onSubmit()">

            <mat-grid-tile>
              <h1>Login</h1>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field class="input-width">
                <mat-label>Username</mat-label>
                <input type="text" matInput placeholder="Login" formControlName='userName'>
                <mat-error *ngFor="let validation of loginForm_validation_messages.userName">
                  <mat-error class="error-message" *ngIf="loginForm.get('userName').hasError(validation.type)">{{validation.message}}
                  </mat-error>
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field class="input-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="Password" formControlName='password'>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <button mat-stroked-button [disabled]="!loginForm.valid">Login</button>
              {{errorMessage}}
            </mat-grid-tile>

          </form>
        </mat-grid-list>
      </mat-card>
    </div>
  </div>
</div>










