
<hr>



 <div class="example-container">
   <form class="example-container" [formGroup]='loginForm' (ngSubmit)="onSubmit()">

     <mat-form-field appearance="outline">
       <mat-label>Username</mat-label>
       <input type="text" matInput placeholder="Login" formControlName='username'>
       <mat-error *ngFor="let validation of loginForm_validation_messages.username">
         <mat-error class="error-message" *ngIf="loginForm.get('username').hasError(validation.type)">{{validation.message}}
         </mat-error>
       </mat-error>
     </mat-form-field>

     <mat-form-field appearance="outline">
       <mat-label>Password</mat-label>
       <input type="password" matInput placeholder="Password" formControlName='password'>
     </mat-form-field>

     <mat-form-field appearance="outline">
       <mat-label>Verify password</mat-label>
       <input type="password" matInput placeholder="Verify Password" formControlName='verifyPassword' [errorStateMatcher]="errMatcher">
       <mat-error *ngIf="loginForm.hasError('passwordsDoNotMatch')">
         Passwords do not match!
       </mat-error>
     </mat-form-field>

     <button class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
     <div class="state">
       Do passwords match?
       <strong>{{!loginForm.hasError('passwordsDoNotMatch')}}</strong>
     </div>
     {{loginForm.valid}}
     {{errorMessage}}
   </form>
 </div>




