<mat-toolbar class="mat-toolbar-top">
  <mat-toolbar-row>
    <span *ngIf="false">Menu</span>
    <div class="example-nav-element">
      Home
    </div>
    <div class="example-nav-element">
      Management Board
    </div>
    <div class="example-nav-element">
      Home
    </div>
    <span class="example-spacer"></span>
    <i class="material-icons" style="padding-right: 10px">face</i>
    <a class="nav-link" *ngIf="!userInfoName" (click)="onAction('login')">Sign In</a>
    <a class="nav-link" *ngIf="userInfoName">{{userInfoName}}</a>
  </mat-toolbar-row>

</mat-toolbar>

